<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/design_coupang.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/function_js.js"></script>
    <script>
    <!--header_menu 호출-->
    $( function() {
    //header
    $(".header_menu").load('/header_menu');
    });

    <!--footer 호출-->
    $( function() {
    //footer
    $(".footer").load('/footer');
    });
    </script>
</head>

<body>

<nav class="header_menu">
</nav>

<h1 style="margin-left:30px;color:#24695e">쿠팡 파트너스 기능 개발중입니다.</h1>

<div> </div>

<div class="footer">
</div>
</body>
</html>