<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/design_coupang.css"/>
</head>
<body>

    <ul class="nav-container">
        <li class="nav-item"><a href="/">home</a></li>
        <li class="nav-item"><a href="/blog/coupang_pt/how_to_use_capi/">사용법</a></li>
        <li class="nav-item"><a href="/blog/coupang_pt/coupang_introduce/">쿠팡 파트너스란?</a></li>
        <li class="nav-item"><a href="/trand">트렌드</a></li>
        <li class="nav-item"><a href="/blog/">블로그</a></li>
        <li class="nav-item"><a
                href="https://taewooblog.tistory.com/category/%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8/%EC%BF%A0%ED%8C%A1%20%ED%8C%8C%ED%8A%B8%EB%84%88%EC%8A%A4%20api"
                target="_blank"
                >개발기</a></li>
    </ul>

</body>
</html>