<!DOCTYPE HTML>
<html>
  <head>

  </head>

<body>


    <h1>내 링크로 바꿔주기</h1>
    <div>
    <form method="POST" action="/">
        <span><textarea name="_search" cols="50" rows="20"></textarea></span>
        <span><input type="submit" value="Submit"></span>
    </form>
        <span><textarea name="_result" cols="50" rows="20"></textarea></span>

    </div>
</body>
</html>