<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <link rel="stylesheet" href="../css/bootstrap.css"/>
      <link rel="stylesheet" href="../css/design_coupang.css"/>
      <script type="text/javascript" src="./js/bootstrap.js"></script>
      <style>
          div{
    margin-left: 30px;
    float:left;
}

textarea{
    background-color: #24695e;
}
      </style>
  </head>

<body>

<nav>
    <ul class="nav-container">
        <li class="nav-item"><a href="/">home</a></li>
        <li class="nav-item"><a href="/">사용법</a></li>
    </ul>
</nav>
<h1 style="margin-left:30px;color:#24695e">쿠팡 파트너스 api 활용 기능</h1>
    <div>
        <h2>쿠팡 파트너스 api 대량 링크 바꿔주기</h2>
        <h2>API 키</h2>
        <form method="POST" action="/">
            <p><span>Access Key  <input name="_access_key" type="text" style="width:50%"/></span></p>
            <p><span>Secret Key  <input name="_secret_key" type="text" style="width:50%"/></span></p>
        </form>
        <h2 style="margin-left:30px;color:#24695e">검색어 입력</h2>

        <div>
            <form method="POST" action="/">

                <span><textarea name="_search" cols="50" rows="20" ></textarea></span>
                <span><input type="submit" value="변환하기"></span>
            </form>
        </div>
        <div style="float:left">
            <span><textarea name="_result" cols="50" rows="20" th:text="${_result1}">여기에 링크가 표시됩니다.</textarea></span>
        </div>

    </div>
</body>
</html>