<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <link rel="stylesheet" href="css/bootstrap.css"/>
      <link rel="stylesheet" href="css/design_coupang.css"/>
      <script type="text/javascript" src="js/bootstrap.js"></script>
      <script type="text/javascript" src="js/function_js.js"></script>
      <script src="http://code.jquery.com/jquery-3.5.1.js"></script>
<!--      <script src="http://code.jquery.com/jquery-latest.min.js">-->

  </head>
  <style>
div{
    margin-left: 30px;
    float:left;
}

textarea{
    background-color: #24695e;
}
  </style>
  <script>

$(document).ready(function() {
$('#loading').hide();

$('#trans').submit(function(){
    $('#loading').show();
    return true;
});

});

</script>
<body>
<!--로딩바-->
    <div id="loading" style="margin-left: 0px;">
    <img src="/images/로딩바.gif">
    <p>변환중입니다..잠시기다려주세요.</p>
</div>


<nav>
    <ul class="nav-container">
        <li class="nav-item"><a href="/">home</a></li>
        <li class="nav-item"><a href="/manual">사용법</a></li>
        <li class="nav-item"><a href="/manual">활용사례</a></li>
    </ul>
</nav>
<h1 style=" margin-left:30px;color:#24695e">쿠팡 파트너스 api 활용 기능</h1>
    <div>
        <h2>쿠팡 파트너스 api 대량 링크 변환</h2>
        <div>
            <form id="trans" method="POST" action="/" >
                <h2>API 키</h2>
                <table>
                    <tr>
                        <td><h3>Access Key</h3></td>
                        <td><input name="_access_key" type="text" th:value="${_access_key}"> </td>
                    </tr>
                    <tr>
                        <td><h3>Secret Key</h3></td>
                        <td><input name="_secret_key" type="text" th:value="${_secret_key}"> </td>
                    </tr>
                    <tr>
                        <td><h3>Sub Id (채널 아이디) </h3></td>
                        <td><input name="_sub_id" type="text" th:value="${_sub_id}"> </td>
                    </tr>
                </table>

               <div class="parent">
                   <h2 style="margin-left:30px;color:#24695e">검색어 입력</h2>
                   <div><textarea name="_search" cols="50" rows="20" ></textarea> </div>
                   <div style="vertical-align: middle">
                       <input type="submit" value="변환하기">
                       <h5>-></h5>
                   </div>

                   <div><textarea name="_Secret result" cols="50" rows="20" th:text="${_result1}" disabled>여기에 링크가 표시됩니다.</textarea></div>

               </div>

            </form>
        </div>

    </div>
</body>
</html>