<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/design_coupang.css"/>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/function_js.js"></script>
</head>

<body>


<nav>
    <ul class="nav-container">
        <li class="nav-item"><a href="/">home</a></li>
        <li class="nav-item"><a href="/manual">사용법</a></li>
    </ul>
</nav>
<h1 style="margin-left:30px;color:#24695e">쿠팡 파트너스 api 대용량 링크 변환 사용방법</h1>

<div>


</div>
</body>
</html>